.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 15pt;
    color: white;
    background-color: #4f4c5e;
    padding: 10px 30px 10px 30px;
    border: #fff 2px solid;
    border-radius: 25px;
}

.btn:hover {
    background-color: white;
    color: #4f4c5e;
    font-weight: 750;
    text-decoration: underline;
    cursor: pointer;
}